<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carrental">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/carspic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/carspic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegistrationActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserJcode.MainActivityUser"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RMJcode.MainActivityRM"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminJcode.MainActivityAdmin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserJcode.viewmyprofile.U_ViewProfile"
            android:label="View Profile"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".UserJcode.SearchVehicle"
            android:label="Search Vehicle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserJcode.SelectVehicle"
            android:label="Vehicle Details"
            android:theme="@style/AppTheme.NoActionBar" />



    </application>

</manifest>
